
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #b3ddee, #8fd2ef);
  background-image: url('https://www.google.com/imgres?q=transparent%20cloud%20png&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20220210%2Fourmid%2Fpngtree-white-cloud-png-element-with-transparent-background-png-image_4383800.png&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffree-cloud-png&docid=uoULIYX6Z3BSLM&tbnid=kS2vQCV10QDLGM&vet=12ahUKEwjcm8yHieSMAxXW3gIHHX8aGWoQM3oFCIkBEAA..i&w=640&h=360&hcb=2&ved=2ahUKEwjcm8yHieSMAxXW3gIHHX8aGWoQM3oFCIkBEAA'); 
  color: #2c3e50;
  line-height: 1.7;
  padding: 40px;
}


header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 3rem;
  color: #2d88a7;
  text-shadow: 1px 1px 0px #edb5b5;
}

header p {
  font-size: 1.2rem;
  color: #5d6d7e;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #99bcf3cc;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #1f5b76;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

section ul {
  padding-left: 20px;
}

section ul li {
  margin-bottom: 5px;
}

.image-section {
  text-align: center;
  margin: 20px 0;
}

.image-section img {
  border-radius: 10px;
  filter: brightness(1.05) contrast(1.1) saturate(1.2);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.image-section p {
  font-style: italic;
  color: #34495e;
  margin-top: 5px;
}

blockquote {
  font-size: 1rem;
  font-style: italic;
  background: #facd9f;
  border-left: 4px solid #5dade2;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  color: #2c3e50;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  header h1 {
    font-size: 2rem;
  }

  section h2 {
    font-size: 1.5rem;
  }

  .image-section img {
    width: 90%;
    height: auto;
  }
}
